.row {
  display: flex;
  margin-left: 20px;
  width: fit-content;
}
.box {
  height: 50px;
  width: 50px;
  border: 1px solid #bbb;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 30px;
  background: lightgray;
}
.start-button {
  display: none;
}
.label {
  min-width: 160px;
  display: inline-block;
}
.box.emoji-box {
  border: 1px solid white;
  box-shadow: 0px 0px 0px 0px;
  background: white;
}
.box.open {
  background: white;
}
